@model FileHosting.Models.FileModel

<p>@User.Identity.Name</p>
<form method="post" asp-controller="Account" asp-action="Logout">
    <input type="submit" value="Выход" />
</form>

<form method="post" enctype="multipart/form-data" asp-controller="Account" asp-action="AddFile">
    <div asp-validation-summary="ModelOnly"></div>
    <div>
        <label asp-for="Title"></label><br/>
        <input asp-for="Title"/>
    </div>
    <div>
        <label asp-for="TextData"></label><br />
        <input asp-for="TextData" />
    </div>
    <div>
        <label asp-for="InputFile"></label><br />
        <input asp-for="InputFile" />
    </div>
    <div>
        <label asp-for="IsDeleted"></label><br />
        <input asp-for="IsDeleted" />
    </div>
    <div>
        <input type="submit" value="Upload" />
    </div>
</form>

<form method="get" asp-controller="Account" asp-action="Index">
<table>
    <tr>
        <th>Title</th>
        <th>TextData</th>
        <th>FileName</th>
        <th>Path</th>
        <th>IsDeleted</th>
    </tr>
    
        @if(ViewBag.Files!=null)
            {
                foreach (var el in ViewBag.Files)
            {
                <tr>
                    <td>@el.Item1</td>
                    <td>@el.Item2</td>
                    <td>@el.Item3</td>
                    <td>@el.Item4</td>
                    <td>@el.Item5</td>
                    <td>
                    <button asp-controller="File" asp-action="Info" asp-route-Path="@el.Item4" style="width:auto;height:auto">Details</button>
                    </td>
                </tr>
                
                }
            }
    
</table>
</form>